/**
* Elements en standaard classes
*/
body{
	/*text-align:center; /* text-align om IE - die zich niet aan de standaarden houdt - ook te lcentreren */
	margin:0;
	font: normal 12px 'Helvetica Neue',Helvetica, Arial, sans-serif;
	color: #eed2b1;
	letter-spacing:1px;
	line-height:16px;
	background:#36241a url(../img/bg_mobile_tile.jpg) repeat-x;
}
img{border: none;}
h1{	
	font: bold 22px Helvetica, Arial, sans-serif;
	color: #f08201; 
	margin: 0; 
	/*text-transform:uppercase;*/
	letter-spacing:1px;
	line-height: 100%;
}
h2{ 
	font-weight: bold;
	font-size: 13px;
	color: #ffc820; 
	margin-top: 6px; 
	letter-spacing:1px;
	line-height: 100%;
}
h2 a{
	color: #ffc820 !important;
}
h3{ 
	font-weight: bold;
	font-size: 13px;
	color: #ffc820; 
	margin: 24px 0 2px 0;
	letter-spacing:1px;
	line-height: 100%;
}
h4{ 
	font-weight: bold;
	font-size: 13px;
	color: #eed2b1; 
	margin: 0;
}
a{ 
	color: #eed2b1;
	text-decoration:underline;
	/*border-bottom:thin dotted;*/
}
a:hover{
	color: #ffc820;
}
.highlight {
	background-color:#00c2f3;
	color: #000;
}

.ancortop{
	text-align: right;
}
.linethrough{
	text-decoration:line-through;
}
/* */
#wrapper{}
/* */
#content_wrapper{
	margin: 0;
}
#content_wrapper h1{
	font-weight: bold;
	font-size: 22px;
	margin:0; 
	padding: 10px 0; 
	/*text-transform:uppercase;*/
	letter-spacing:0px;
	line-height: 100%;
	text-decoration:none;
	display:block;
	color:#f08201;
}
#content_wrapper #content, #eventschedule, #livescoring, #news{
	margin: 0 10px 20px 10px;
}

/* header */
#header{
	background: url(../img/bg_mobile_sky.jpg) center top repeat-x;
	height: 96px;
	display:block;
	margin:0;
	padding: 10px;
}
#header #windmillwinduplogo{
	position:absolute;
	top: 0;
	right: 10px;
	display: block;
	height: 115px;
	width: 120px;
	background:url(../img/logos/olifant.png) no-repeat right top;
}
#header h1{
	font-weight: bold;
	font-size: 28px;
	color: #36241a; 
	margin: 0; 
	padding: 0;
	/*text-transform:uppercase;*/
	letter-spacing:-1px;
	line-height: 100%;
}
/* navigatie */
ul.bigNav, ul.tournamentNav{
	list-style: none;
	width:100%;
	margin: 0;
	padding:0;
}
ul.bigNav li a, ul.tournamentNav li a{
	font-weight: bold;
	font-size: 22px;
	color: #f08201;
	margin:0; 
	padding: 10px; 
	/*text-transform:uppercase;*/
	letter-spacing:0px;
	line-height: 100%;
	text-decoration:none;
	display:block;
	border-bottom:solid 1px #442d20;
}
ul.bigNav li a:hover{
	padding-left:20px;
	background-color:#f08201;
	color:#36241a;
}
ul.tournamentNav li a{
	color: #ffc820;
}
ul.tournamentNav li a:hover{
	padding-left:20px;
	background-color:#ffc820;
	color:#36241a;
}
ul.smallNav{
	list-style: none;
	width: 100%;
	margin: 40px 0 20px -40px;
	background-color:#36241a;
}
ul.topmenu{
	width: 100px !important;
}
ul.smallNav li a{
	font-weight: bold;
	font-size: 18px;
	margin:0; 
	padding: 4px; 
	/*text-transform:uppercase;*/
	letter-spacing:0px;
	line-height: 100%;
	display:block;
	text-decoration:none;
}
/* */
#news .text .date{
	/*margin-left: 10px;*/
	margin-bottom: 6px;
	display: block;
	/*font-size: 10px;*/
	color: #eed2b1;
	/*border-bottom: solid 1px #19100c;*/
}
#latestnews .text h3 a, #newsarchive .text h3 a, #newsarticle .text h3 a{
	font-weight: bold;
	font-size: 13px;
	color: #ffc820; 
	margin: 24px 0 2px 0;
	letter-spacing:1px;
	line-height: 100%;
	text-decoration:none;
}

/* SCHEDULE*/
ul.schedule {
	list-style: none;
	margin: 0 0 40px 0;
	padding: 0;
	width: 96%;
}
ul.schedule li{
	padding: 4px 0;
}
ul.schedule li.tableheader{
	font-size: 10px;
	color: #eed2b1;
	background-color:#4a3a31;
	border-bottom:solid 1px #442d20;
}
ul.schedule li.odd{
	background-color:#4a3a31;
}
ul.schedule li span.time{
	display: block;
	width: 50px;
	float: left;
}
ul.schedule li span.description{
	width: 150px;
	display:block;
	float: left;
}
div#textthursday, div#textfriday, div#textsaturday, div#textsunday{
	display:none;
}

/**********************************************/
/* LIVE SCORING */
#livescoring{
	
}
#livescoring h2{
	font-size: 20px;
}
/* menu */
#livescoring #menu{
	margin-top: -40px;
	width: 240px;
	float:left;
	background-color: #36241a;
}
#livescoring #menu p{
	text-align:center;
}
#livescoring #menu div.division{
	width: 100%;
	background-color:#4a3a31;
	/*float: left;*/
	margin: 0;
	padding: 20px 0;
}
#livescoring #menu div.division ol{
}
#livescoring #menu div.division a.menuitem{
	text-decoration:none;
	display:block;
	margin:0;
	padding:8px;
	font-size:18px;
	color:#000;
	background-color:#aaa;
}
#livescoring #menu div.division a.menuitem:hover{
	background-color: #CCC;
}
#livescoring #menu #womendivision{ display:none; }
#livescoring #menu #mixeddivision{ display:none;}
#livescoring #menu #opendivision{ display:none;}
/* navigatie */
ul.scoreNav{
	list-style: none;
	width:240px;
	margin: 0 0 40px 0;
	padding:0;
}
ul.scoreNav li{
	width: 80px;
	float: left;
}
ul.scoreNav li a{
	font-weight: bold;
	font-size: 18px;
	color: #ffc820;
	text-align:center;
	margin:0; 
	padding: 10px; 
	letter-spacing:0px;
	line-height: 100%;
	text-decoration:underline;
	display:block;
	border:solid 1px #4a3a31;
	border-bottom-color: #36241a;
}
ul.scoreNav li a:hover{
	background-color:#ffc820;
	color:#36241a;
	text-decoration:none;
}
/* Results & Scores */
#result{
	display:inline;
	margin-bottom:40px;
}
#result #scoresheet{
	float:left;
	margin-left: 5px;
}
#result #scoresheet .time{
	font-weight:bold;
	margin-bottom: 4px;
}

#result #standing{
	float:left;
	margin-left: 5px;
}
#result ol{
	margin:0;
	padding: 0 0 0 20px;
}
#result ol.standing{
	list-style: none;
	margin-left: -20px;
}
#result ol.standing li{
	border-bottom:solid 1px #442d20;
}
#result ol.standing li.header{
	border:none;
	font-size:10px;
	font-style:italic;
}
/* alignment scorlist/standing lists*/
#result span.rank{
	display:bock;
	float: left;
	width: 32px;
	text-align:center;
}
#result span.round{
	display:bock;
	float: left;
	width: 24px;
	text-align:left;
}
#result span.nextround{
	margin-left: 4px;
	font-size:10px;
	font-style:italic;
}
#result span.team{
	display:bock;
	float: left;
	width: 120px;
	text-align:left;
}
#result li.header span.team{
	text-align:center;
}
#result span.playingfor{
	display:bock;
	float: left;
	width: 100px;
	margin-right: 4px;
	text-align:left;
	font-size:10px;
}
#result span.vp, #result span.margin, #result span.total{
	display:bock;
	float: left;
	width: 40px;
	text-align:center;
}
#result span.score{
	display:bock;
	float: left;
	width: 20px;
	margin-right:4px;
	text-align:center;
}
#result span.against{
	display:bock;
	float: left;
	width: 10px;
	text-align:center;
}


/*********/

#livescoring FORM{
	margin:0 10px;
}
#livescoring OPTION{
	font: normal 10px 'Helvetica Neue',Helvetica, Arial, sans-serif;
	color: #36241a;
}




/**********************************************/
.clearer{
  height:1px;
  overflow:hidden;
  margin-top:-1px;
  clear:both;
}
